::-webkit-scrollbar {
  width: 0px;
    
}

html, body { height: auto }

.pz-nav-btn:hover {
    text-decoration: none;
    color:white;
    font-weight: bold;
}


.pz-section {
    background-color:white;
}



* {
    
    font-family: 'Source Sans Pro', sans-serif;
}
.big-image-main{
    width: 100vw;    
    height: 100vh;
    position:fixed;
}

.big-image {
    width: 100vw;    
}
.col-sm-6{
    padding: 0;
}
                                                                
body {
/*    //niepotrzebne chyba//*/
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.navbar {
    position:absolute;
    margin-top:10px;
    margin-left:10px;
    margin-right:50px;
}

                                                            /* FULLSCROLL*/


#fullpage {
    height: 100vh;
    overflow: hidden;
}

#fullpage section{
    height: 100vh;
}



.fullscr_row {   
    height: 100vh;
}

.row {
    margin:0;
}


                                                            /*SECTION 1*/

.pz-navbar {
    position: fixed;;
    width:100%;
    
    
}





                                                            /*SECTION 2 DOM*/

                                                            
/*                                     LEWA STRONA                       */
.sm-image {
    width:400px;
    height:400px;
}

.responsive-container {
  margin: 1em auto;
  min-width: 200px;       /* cap container min width */
  max-width: 500px;       /* cap container max width */
  position: relative;     
  overflow: hidden;       /* crop if image is larger than container */
/*  background-color: #ccc; */
}

.responsive-container img {
  position: absolute;
  top: -999px;            /* use sufficiently large number */
  bottom: -999px;
  left: -999px;
  right: -999px;
  margin: auto;           /* center horizontally and vertically */
}



/*                                     PRAWA STRONA*/


.dom {
    font-size: 3.5em;
    background: #700325;
    padding-bottom: 10px;
    margin-left:15px;
}

.domek {
    background: white;
}

.center-div
{
    
/*    background-color: #ccc;*/
     margin: 0 auto;
     height: 100vh;
     width: 100vw; 
}








                                                                /*SECTION 3 SDS*/









.text-block {    
  position: absolute;
  bottom: 25%;
  left: 5%;
  background-color: rgba(112,3,37,0.7);
  color: white;
  padding:20px;
}




                                                                /*SECTION 4 SENIOR+*/

                                                                /*SECTION 5 WTZ*/
                                                                
                                                                /*SECTION 6 DLACZEGO*/
                     
                                                                
.icon-square, .icon-square {
    height:31px;
    width:31px;    
}

.icon-square {
    margin-left:10px;
}



.tytul-section6 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 100px;
}








                                                                
                                                                /*SECTION 7 O NAS*/
                                                                


.line {
    height:2px;
    width:30%;
    margin: auto;
    background-color:#700325;
}

.o_nas {
    text-align: justify;
    margin: auto;
    width: 700px;
    background-color: white;
    margin-top:5%;
}
                                                                
                                                                


.margin-a {
    margin: auto;
}



.footer {
  background-color: #333333;
  
  color: white
}







/*                                                    na dole nowe na gorze recycling*/



.col-12 {
    padding: 0;
}

* {
    color:white;
}



.opis {
    display:none;
    text-align: justify;
    padding: 16px;
}

.showHide {
    display:block;
/*    color:blue;*/
}

.myDdBtn {
    width: 100%;
    border: none;
    padding: 16px;    
}

#button1{background-color: rgba(138,29,63, 0.7);}
#button2{background-color: rgba(171,0,91, 0.7);}
#button3{background-color: rgba(153,0,81, 0.7);}
#button4{background-color: rgba(138,29,63, 0.7);}
#button5{background-color: rgba(171,0,91, 0.7);}
#button6{background-color: rgba(163,0,74, 0.7);}
#button7{background-color: rgba(158,49,83, 0.7);}
#button8{background-color: rgba(138,29,63, 0.7);}
#button9{background-color: rgba(124,25,56, 0.7);}
#button10{background-color: rgba(255,194,5, 0.7);}
#button11{background-color: rgba(255,194,5, 0.7);}
#button12{fill: rgba(124,25,56, 0.7);}
#button13{fill: rgba(171,0,91, 0.7);}
#button14{fill: rgba(130,171,255, 0.7);}
.button15{fill: rgba(255,255,255);}

.svg_section {
    margin-top: 10px;    
}


/*DACH*/
.parent {
  position: relative;
}
.child {
  border-bottom: 50px solid rgba(163,0,74, 0.7);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  width: 0;
  height: 0;
  bottom: -40px;
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;   
}
#button8 {
    margin-top:40px;
}


#button12, #button13, #button14 {
    cursor: pointer;
}


